article:not(:first-child) {
  margin-top: 3rem;
  border-left: 4px solid var(--bs-link-color);
  padding-left: 1rem;
}
p.goal {
  color: var(--bs-link-color);
}
code {
  font-family: 'Nunito Sans';
  font-size: 1rem;
}
